:root {
  --primary-color: #a7d2cb;
  --secondary-color: #f29088;
  --s-color:#c98474;
  --e-color:#874c62;
  --max-width: 1100px;
}

.category {
  --cake-color: #f29088;
  --pie-color:#626e60;
  --dish-color: #945d60;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
  background: var(--s-color);
}

a {
  color: #333;
  text-decoration: none;
}


img {
  width: 100%;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Righteous', cursive;
  margin-bottom: .55rem;
  line-height: 1.3;
}


/* Utilities */

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.category-cake { background: var(--cake-color);}
.category-pie { background: var(--pie-color);}
.category-dish { background: var(--dish-color);}

.btn {
  display: inline-block;
  border: none;
  background: var(--e-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
}

.btn-light {background: var(--s-color);}
.btn-primary {background: var(--primary-color);}
.btn-secondary {background: var(--secondary-color);}
.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}

.card {
  background: #fff;
  padding: 1rem;
}

.bg-dark {
  background: var(--e-color);
  color: #fff;
}
.bg-primary {
  background: var(--primary-color);
  color: #fff;
}
.bg-secondary {
  background: var(--secondary-color);
  color: #fff;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-dark a {
  color:#fff;
}

.py-1 { 
  padding: 1.5rem 0; 
}
.py-2 { 
  padding: 2rem 0; 
}
.py-3 { 
  padding: 3rem 0; 
}
.p-1 { 
  padding: 1.5rem; 
}
.p-2 { 
  padding: 2rem; 
}
.p-3 { 
  padding: 3rem; 
}




/* Navigation */

#main-nav {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}

#main-nav .container {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 1rem;
  align-items: center;
}

#main-nav .logo {
  width: 180px;
  font-weight: bolder;
  font-size: 25px;
}

#main-nav ul {
  justify-self: end;
  display: flex;
}

#main-nav ul li a {
  padding: .75rem;
  font-weight: bold;
}

#main-nav ul li a.curent {
  background: var(--primary-color); 
  color: #fff;
}

#main-nav ul li a.curent:hover {
  background: var(--s-color);
  color: var(--e-color);
}

#main-nav .social {
  justify-self: center;
}

#main-nav .social i {
  color: #777;
  margin-right: .5rem;
}

/* Showcase */
#showcase {
  color: #fff;
  background:#333;
  padding: 2rem;
  position:relative;
}

#showcase:before {
  content: '';
  background: url('/img/background.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

#showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#showcase .showcase-content {
  z-index: 1;
}

#showcase .showcase-content p {
  margin-bottom: 1rem;
}

/* Home recepies */

#home-recepies .recepies-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

#home-recepies .recepies-container > *:first-child, #home-recepies .recepies-container > *:last-child {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap:1rem;
  align-items: center;
  grid-column: 1 / span 2;
}

#home-recepies .recepies-container > *:last-child{
  grid-column: 2 / span 2;
}